/*   --- root css --- */
:root {
  --font-size: 100%;
  --container: calc(infinity * 1rem);
  --H1: calc(infinity * 1rem);
  --H2: calc(infinity * 1rem);
  --H5: calc(infinity * 1rem);
  --H6: calc(infinity * 1rem);
  --par: calc(infinity * 1rem);
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
form,
aside,
input,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #505050;
}

/* --- typography --- */
@font-face {
  font-family: "Source Sans Pro";
  src: url(../assets/webfonts/static/SourceCodePro-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 200 900;
  font-display: swap;
}
@font-face {
  font-family: Cinzel;
  src: url(../assets/webfonts/static/Cinzel-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 200 900;
  font-display: swap;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
  font-optical-sizing: auto;
}
html ::-moz-selection {
  background-color: #000000;
  color: #081118;
}
html ::selection {
  background-color: #000000;
  color: #081118;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #505050;
}

/*  --- header --- */
/* --- home main --- */
.home {
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, right top, from(#050606), to(#081118));
  background: linear-gradient(to right, #050606, #081118);
}

.header {
  background-color: rgba(30, 39, 59, 0.7529411765);
}

.encode H2 {
  background-color: rgba(0, 76, 255, 0.7607843137);
}

.decode H2 {
  background-color: rgba(0, 76, 255, 0.7607843137);
}

.container {
  max-width: 90em;
  height: 100svh;
  margin-inline: auto;
  background-image: url("../assets/img/ceasar_BG.webp");
  background-color: rgba(0, 0, 0, 0.4745098039);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header {
  font-family: cinzel, serif;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border-radius: 5px;
}
.header H1 {
  letter-spacing: 2px;
}
.header .logo img {
  border-radius: 50%;
  max-width: 4.6875em;
  -webkit-box-shadow: 0px 0px 6px #ffa200;
          box-shadow: 0px 0px 6px #ffa200;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 2em;
}

.encode H2,
.decode H2 {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  line-height: 2em;
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
  border: solid 1px #000000;
}

/* mediaqueries */
@media only screen and (max-width: 37.5em) {
  .container {
    max-width: 23.4375em;
    height: 100svh;
    margin-inline: auto;
    min-width: 360px;
  }
  .home .heading--L {
    font-weight: 700;
    font-size: 1.375rem;
  }
  .home .heading--M {
    font-weight: 700;
    font-size: 1rem;
  }
  .home .body--M {
    font-weight: 700;
    font-size: 1rem;
  }
  .home .section {
    width: 22.5em;
  }
}
/*# sourceMappingURL=home.css.map */
