@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// --------------------
/* --- home main --- */
// --------------------

.home {
    color: $clr10;
    user-select: none;
    background: linear-gradient(to right, $clr15, $clr11);
}

// @each $element, $styles in $fonts {
//     .#{$element} {
//         // color: map-get($styles, color);
//         // font-weight: map-get($styles, weight);
//         // font-size: map-get($styles, size--PC);
//         // line-height: map-get($styles, height--PC);
//         // letter-spacing: map-get($styles, spacing--PC);
//     }
// }

@each $element, $color in $bck__color {
    .#{$element} {
        background-color: $color;
    }
}

.container {
    @include container(em(1440, 16));
    background-image: url('../assets/img/ceasar_BG.webp');
    background-color: $clr21;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.header {
    font-family: cinzel, serif;
    padding: em(16, 16);

    display: flex;
    align-items: center;
    gap: em(16, 16);
    border-radius: 5px;

    H1 {
        letter-spacing: 2px;
    }
    .logo {
        img {
            border-radius: 50%;
            max-width: em(75, 16);
            box-shadow: 0px 0px 6px $clr24;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > * {
        flex-basis: 100%;
        padding: em(32, 16);
    }
}

.encode,
.decode {
    H2 {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
        border-radius: 5px;
        line-height: em(32, 16);
        box-shadow: 0px 0px 10px $clr20;
        border: solid 1px $clr20; 
    }
}
